.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  /* height: 40vmin; */
  pointer-events: none;
  background-color: white;
  border-radius: 15px;
  margin-bottom: 3%;
}

.App-header {
  background-color: rgb(216, 216, 216);
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  width: 70%;
  margin: 1% 15% 0 15%;
  border-radius: 15px;
  padding-top: 1%;
}

.App-link {
  color: #61dafb;
}

.Cards-listing {
  margin: 3% 0;
  width: 80% !important;
}

.ui.card.cards{
  margin: 0 !important;
  width: 100% !important;
}