.App {
  text-align: center;
  
  background-image: url("https://i.imgur.com/iiqFgYX.jpg") cover;
  
  
}



.Cards-listing {
  margin: 3% 0;
  width: 80% !important;
}

.ui.card.cards{
  margin: 0 !important;
  width: 100% !important;
}
.Buttons {
  margin-bottom: 3% !important;
}
